.error-container {
  text-align: center;
  padding: 50px;
  background-color: #f8d7da;
  color: #721c24;
}

.error-container h1 {
  font-size: 2em;
}

.error-container p {
  margin: 20px 0;
}

.error-container a {
  color: #004085;
  text-decoration: none;
  font-weight: bold;
}

.error-container a:hover {
  text-decoration: underline;
}
